.DS_Store
Thumbs.db
.pytest_cache/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.swp

tests/
logs/
data/
dockerfiles/
.venv/
.git
.gitignore
.env
README.md
docker-compose.dev.yml
docker-compose.prod.yml
.dockerignore

*.log